In [2]:
import matplotlib.pyplot as plt
import numpy as np

In [5]:
result = 1 < 5 <= 9
print(result)

True

In [8]:
y = 9
x = 10 if y == 9 else 20
x

10

In [9]:
def small(a, b, c):
	return a if a <= b and a <= c else (b if b <= a and b <= c else c)
	
print(small(1, 0, 1))
print(small(1, 2, 2))
print(small(2, 2, 3))
print(small(5, 4, 3))

#Output
#0 #1 #2 #3

0
1
2
3

In [ ]:
1 and 2

2

In [ ]:
1 & 2

0

In [ ]:
multiStr = "select * from multi_row \
where row_id < 5"
print(multiStr)

# select * from multi_row where row_id < 5

select * from multi_row where row_id < 5

In [ ]:
multiStr= ("select * from multi_row "
"where row_id < 5 "
"order by age") 
print(multiStr)

#select * from multi_row where row_id < 5 order by age

select * from multi_row where row_id < 5 order by age

In [ ]:
multiStr = """select * from multi_row 
where row_id < 5"""
print(multiStr)

#select * from multi_row 
#where row_id < 5

select * from multi_row
where row_id < 5

In [ ]:
testList = [1,2,3]
x, y, z = testList

print(x, y, z)

#-> 1 2 3

1 2 3

### Note- To be tested in a Python command terminal

>>> 2 + 1

3

>>> _

3

>>> print _

3

In [11]:
testSet = {i * 2 for i in range(10)}
testDict = {i: i * i for i in range(10)} 

print("#1 ", type(testSet), testSet)
print("#2 ", type(testDict), testDict)

#1  <class 'set'> {0, 2, 4, 6, 8, 10, 12, 14, 16, 18}
#2  <class 'dict'> {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

#1  <class 'set'> {0, 2, 4, 6, 8, 10, 12, 14, 16, 18}
#2  <class 'dict'> {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [10]:
import threading 
import socket

print(threading)
print(socket)

#1 <module 'threading' from '/usr/local/lib/python3.10/threading.py'>
#2 <module 'socket' from '/usr/local/lib/python3.10/socket.py'>

<module 'threading' from 'c:\\Program Files\\Python311\\Lib\\threading.py'>
<module 'socket' from 'c:\\Program Files\\Python311\\Lib\\socket.py'>

In [13]:
def test(x, y, z):
	print(x, y, z)

testDict = {'x': 1, 'y': 2, 'z': 3} 
testList = [10, 20, 30]

test(*testDict)
test(**testDict)
test(*testList)

#1-> x y z
#2-> 1 2 3
#3-> 10 20 30

x y z
1 2 3
10 20 30

In [15]:
stdcalc = {
	'sum': lambda x, y: x + y,
	'subtract': lambda x, y: x - y
}

print(stdcalc['sum'](9,3))
print(stdcalc['subtract'](9,3))

#1-> 12
#2-> 6

12
6

In [17]:
from functools import reduce
(lambda k: reduce(int.__mul__, range(1,k+1),1))(3)

6

In [18]:
test = [1,2,3,4,2,2,3,1,4,4,4]
print(max(set(test), key=test.count))

4

In [24]:
import sys
x=1
print(sys.getsizeof(x))

#-> 28

28

In [25]:
import sys
lprint=lambda *args:sys.stdout.write(" ".join(map(str,args)))
lprint("python", "tips",1000,1001)

#-> python tips 1000 1001

python tips 1000 1001

21

In [26]:
t1 = (1, 2, 3)
t2 = (10, 20, 30)

print(dict (zip(t1,t2)))

#-> {1: 10, 2: 20, 3: 30}

{1: 10, 2: 20, 3: 30}

In [27]:
print("http://www.google.com".startswith(("http://", "https://")))
print("http://www.google.co.uk".endswith((".com", ".co.uk")))

#1-> True
#2-> True

True
True

In [28]:
import itertools
test = [[-1, -2], [30, 40], [25, 35]]
print(list(itertools.chain.from_iterable(test)))

#-> [-1, -2, 30, 40, 25, 35]

[-1, -2, 30, 40, 25, 35]

In [31]:
import more_itertools

test = [[-1, -2], [1, 2, 3, [4, (5, [6, 7])]], (30, 40), [25, 35]]

print(list(more_itertools.collapse(test)))

#Output=> [-1, -2, 1, 2, 3, 4, 5, 6, 7, 30, 40, 25, 35]

[-1, -2, 1, 2, 3, 4, 5, 6, 7, 30, 40, 25, 35]

In [32]:
def xswitch(x): 
	return xswitch._system_dict.get(x, None) 

xswitch._system_dict = {'files': 10, 'folders': 5, 'devices': 2}

print(xswitch('default'))
print(xswitch('devices'))

#1-> None
#2-> 2

None
2

In [33]:
import regex as re
test = [[-1, -2], [1, 2, 3, [4, (5, [6, 7])]], (30, 40), [25, 35]]

test = [int(i) for i in re.findall('\-?[\d]+', str(test))]
test

[-1, -2, 1, 2, 3, 4, 5, 6, 7, 30, 40, 25, 35]

In [34]:
test = [[-1, -2], [30, 40], [25, 35]]
print(sum(test,[]))

[-1, -2, 30, 40, 25, 35]

In [41]:
x = {'a':1,'b':2}
y = {'b':3,'c':4}

z = {**x,**y}
print(z,type(z))

z = {*x,*y}
print(z,type(z))

{'a': 1, 'b': 3, 'c': 4} <class 'dict'>
{'a', 'b', 'c'} <class 'set'>

In [49]:
x= list(np.random.randint(0, 3, size=15))
print(x)
print(max(set(x),key=x.count))

[1, 0, 2, 0, 1, 1, 2, 0, 0, 2, 2, 2, 2, 2, 0]
2

In [52]:
from collections import Counter
cnt = Counter(x)
print(cnt.most_common())

[(2, 7), (0, 5), (1, 3)]

In [53]:
orig = [['a','b'],['c','d'],['e','f']]
print(list(zip(*orig)))

[('a', 'c', 'e'), ('b', 'd', 'f')]

In [54]:
b = 6
print(1 == b < 20)

False

In [57]:
def pro(a,b):
    return a*b
def summ(a,b):
    return a+b
b = True
print((pro if b else summ)(5,3))

15

In [60]:
a = list(range(5))
b = a
b[0] = 10

print(a,b) # both changes

[10, 1, 2, 3, 4] [10, 1, 2, 3, 4]

In [61]:
a = list(range(5))
b = a[:]
b[0] = 10
print(a,b) # only b changes

[0, 1, 2, 3, 4] [10, 1, 2, 3, 4]

In [63]:
from copy import deepcopy
l =[[1,2],[3,4]]
print(l.copy())
print(deepcopy(l))

[[1, 2], [3, 4]]
[[1, 2], [3, 4]]

In [70]:
d = {'a':1,"b":2,"c":3}
print(d.get("d", 10)) # returns default value if not in list

10

In [74]:
d = {'apple':10,'orange':20,'banana':5,'tomato':1}
print(sorted(d.items(),key = lambda x:x[0])) # sort by keys

print(sorted(d.items(),key = lambda x:x[1])) # sort by values

[('apple', 10), ('banana', 5), ('orange', 20), ('tomato', 1)]
[('tomato', 1), ('banana', 5), ('apple', 10), ('orange', 20)]

In [75]:
data =[2,'hello','a',7.5]
print(', '.join(map(str,data)))

2, hello, a, 7.5

In [83]:
d1 = dict(a=1)
d2 = dict(b=2)

print({**d1,**d2})
print(dict(d1.items())|dict(d2.items()))

d1.update(d2)
print(d1)

{'a': 1, 'b': 2}
{'a': 1, 'b': 2}
{'a': 1, 'b': 2}